/*
File Name: style.css
Date: 02/12/2021
Programmer: Niko Dukellis
*/

body {
    background-color: #ffffff;
    font-family: 'Georgia', serif;
    font-weight: 200;
    margin: 0 auto;
}

h1{
    font-size: 2em;
    line-height: 1.5em;
    color: #000000;
    text-shadow: 1px 1px #626262;
    text-align: center;
    margin: auto;
    width: 85%;
}

h2{
    font-size: 1.25em;
    line-height: 1.25em;
    padding: .5em 0;
    color: #ff0000;
    text-shadow: 1px 1px #8b0000;
    text-align: center;
}

h3 {
    color: #ff0000;
}

p{ 
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    line-height: 1.1em;
    padding: .5em;
}

header {
    background-color: #dddeee;
}

section {
    margin: 30px auto;
    border: 2px solid black;
    width: 90%;
}

aside {
    margin: 30px auto;
    border: 2px solid red;
    width: 90%;
}

footer {
    background-color: #dddeee;
    padding: 10px;
    font-size: .75em;
    text-align: center;
}

#responsive-tablet, #responsive-desktop {
    display: none;
}

#desktop {
    display: none;
}

@media only screen and (min-width: 600px) {
    
    body {
    }
    
    h1 {
        font-size: 3em;
        text-shadow: 3px 3px #626262;
    }
    
    h2 {
        font-size: 1.5em;
        line-height: 1em;
    }
    
    header {
      padding: 20 0;
    }

    section {
        margin-top: 90px;
    }

    aside {
        display: inline-block;
        width: 40%;
        margin: 0 4.8%;
    }
    
    footer {
        margin-top: 30px;
        font-size: .75em;
    }

    #responsive-tablet {
        display: block;
    }
    
    #float {
        float: left;
    }
}

@media only screen and (min-width: 1250px) {

    body {
    }
    
    header {
        padding: 50px 0;
    }
    
    section {
        margin-top: 30px;
    }

    aside {
        margin: 30px auto;
    }   
    
    footer {
        clear: both;
        margin: 0
    }
   
    #responsive-desktop {
        display: block;
    }
    
    [class*='col-'] {
        float: left;
    }
    
    .col-1-4 {
        width: 20%;
    }
    
    .col-1-2 {
        width: 50%;
    }
    
    .grid:after {
        content: "";
        display: table;
        clear: both;
    }
    
    *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    [class*='col-'] {
        margin-right: 5%
    }
    
    [class*='col-']:last-child {
        margin-right: 0;
    }
    
    #tablet {
        display: none;
    }
    
    #desktop {
        display: grid;
    }
}

